{% extends "base_generic.html" %}

{% block content %}
  <h1>DicomChestScanner Project Website</h1>
  <p>Welcome to DicomChestScanner Project <em>Mozilla Developer Network</em>!</p>
  <h2></h2>
  <p>Put in the .zip file that has the dicom images of the Patient you need the z-coordinate for:</p>
  <ul>
      {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <form action="" method="post">
	  {% csrf_token %}
	  <table>
	      {{ form.as_table }}
	  </table>
	  <input type="submit">
    </form>
  </ul>
{% endblock %}